<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>邯郸江湾</key>
	<array>
		<string>07:40</string>
		<string>08:30</string>
		<string>09:30</string>
		<string>10:20</string>
		<string>11:30</string>
		<string>12:20</string>
		<string>13:30</string>
		<string>14:30</string>
		<string>15:30</string>
		<string>16:30</string>
		<string>17:25</string>
		<string>18:30</string>
		<string>20:30</string>
		<string>21:30</string>
	</array>
	<key>江湾邯郸</key>
	<array>
		<string>07:20</string>
		<string>07:40</string>
		<string>08:00</string>
		<string>09:00</string>
		<string>10:00</string>
		<string>11:10</string>
		<string>12:00</string>
		<string>12:50</string>
		<string>14:00</string>
		<string>15:00</string>
		<string>16:00</string>
		<string>17:00</string>
		<string>18:00</string>
		<string>20:00</string>
		<string>21:00</string>
		<string>22:10</string>
	</array>
	<key>邯郸张江</key>
	<array>
		<string>07:10</string>
		<string>07:40</string>
		<string>08:00</string>
		<string>09:00</string>
		<string>10:00</string>
		<string>12:30</string>
		<string>12:45</string>
		<string>14:30</string>
		<string>15:30</string>
		<string>16:00</string>
		<string>17:10</string>
		<string>20:30</string>
		<string>20:50</string>
		<string>21:15</string>
	</array>
	<key>张江邯郸</key>
	<array>
		<string>08:00</string>
		<string>08:40</string>
		<string>09:00</string>
		<string>11:50</string>
		<string>12:15</string>
		<string>13:00</string>
		<string>14:30</string>
		<string>15:15</string>
		<string>16:00</string>
		<string>16:20</string>
		<string>16:40</string>
		<string>16:55</string>
		<string>17:10</string>
		<string>18:30</string>
		<string>21:00</string>
	</array>
	<key>邯郸枫林</key>
	<array>
		<string>06:55</string>
		<string>07:10</string>
		<string>08:15</string>
		<string>09:15</string>
		<string>10:15</string>
		<string>11:00</string>
		<string>12:30</string>
		<string>13:00</string>
		<string>14:00</string>
		<string>15:30</string>
		<string>16:00</string>
		<string>16:55</string>
		<string>17:10</string>
		<string>19:30</string>
		<string>20:20</string>
		<string>21:15</string>
		<string>22:00</string>
	</array>
	<key>枫林邯郸</key>
	<array>
		<string>07:10</string>
		<string>07:20</string>
		<string>08:15</string>
		<string>09:15</string>
		<string>11:00</string>
		<string>11:45</string>
		<string>13:00</string>
		<string>14:00</string>
		<string>14:30</string>
		<string>16:00</string>
		<string>16:55</string>
		<string>17:10</string>
		<string>18:20</string>
		<string>20:20</string>
		<string>21:15</string>
		<string>21:45</string>
	</array>
	<key>枫林张江</key>
	<array>
		<string>07:00</string>
		<string>07:30</string>
		<string>09:00</string>
		<string>12:15</string>
		<string>13:30</string>
		<string>16:30</string>
		<string>19:00</string>
	</array>
	<key>张江枫林</key>
	<array>
		<string>08:00</string>
		<string>12:15</string>
		<string>15:00</string>
		<string>16:30</string>
		<string>18:00</string>
	</array>
</dict>
</plist>
